blackbutton {
  transition-duration: 0.4s;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 15px 28px;
  display: block;
  font-family:JetBrains Mono,monospace;
}
blackbutton:hover {
  background-color: white;
  color: black;
  border-radius: 4px;
}
